html,body {
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    padding: 0;
    margin: 0;
}

.input-box {
    display:block;
    font-size: 3em;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.2s linear;
}

.input-box:focus {
    outline:none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size:1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.input-select {
    transform: scale(2);
    margin-left: 20px;
}

label {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 2.5em;
}

#chem-search {
    position: absolute;
    top: 40px;
    right: 40px;
}
#workspace {
    width: 100%;
    height:100vh;
}

#mixing-board {
    z-index: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: dashed;
    border-width: 5px;
    border-color: rgba(0,0,0,0.2);
    width: 600px;
    height: 300px;
}

#mixing-board.compound {
    border-style: solid;
}

#mixing-board-greeting {
    position:relative;
    font-size: 2em;
    font-weight: bold;
    color: rgba(0,0,0,0.2);
    top:50%;
    transform: translateY(-50%);
    text-align:center;
}

#mixing-board-greeting::before {
    font-size: 1.5em;
    content: "[";
}

#mixing-board-greeting::after {
    font-size: 1.5em;
    content: "]";
}

#mixing-board-result {
    position:relative;
    font-size: 5em;
    font-weight: bold;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
}

#mixing-board-result > i {
    font-size: 3em;
    color: rgba(0,0,0,0.3);
}

#mixing-board-content {
    position:absolute;
    bottom: 0;
    padding: 20px;
    font-size: 1.5em;
}

.chem {
    display:inline;
}

.chem:not(:first-child):before {
    content: "+ ";
}

.chem-shape {
    z-index: 1;
    position:absolute;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    text-align:center;
    color: rgba(255,255,255,0.8);
}

.chem-shape:hover,chem-shape:active {
    cursor: default;
}

.chem-text {
    margin-left:auto;
    margin-right:auto;
    height:100%;
    width: 80%;
    text-align: center;
}

.chem-shape-small {
    color: transparent;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-size: 2em;
    transition: ease 0.2s;
}

#trash-container {
    position:absolute;
    bottom: 25px;
    left: 25px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

#trash-icon {
    /* width: 100%; */
    opacity: 0.4;
    font-size: 7em;
}
